# Streamlit y componentes básicos
streamlit==1.39.0

# Manejo de datos
pandas==2.2.3
numpy==1.26.4

# Visualización
plotly==5.24.1

# Machine Learning
scikit-learn==1.5.2

# API de OpenAI (versión compatible con httpx)
openai==1.54.4
httpx==0.27.2
httpcore==1.0.6

# API Socrata
sodapy==2.2.0

# Dependencias adicionales
requests==2.32.3
